<html>
<head>
  <style>
    .ii a[href] {
    color: #000 !important;
    text-decoration: none !important;
    }
    .hx .ii {
    margin: 8px 0 0 0;
    overflow-x: hidden;
    padding: 0;
}
.gt {
    font-size: .875rem;
}
.hx {
    background-color: transparent;
    color: #222;
    min-width: 502px;
}
.a3s {
    direction: initial;
    font: small/1.5 Arial,Helvetica,sans-serif;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
}
.msg9217043639445657144 body, .msg9217043639445657144 #m_9217043639445657144bodyTable, .msg9217043639445657144 #m_9217043639445657144bodyCell {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
.msg9217043639445657144 p, .msg9217043639445657144 a, .msg9217043639445657144 li, .msg9217043639445657144 td, .msg9217043639445657144 body, .msg9217043639445657144 table, .msg9217043639445657144 blockquote {
}
.msg9217043639445657144 table {
}
.msg9217043639445657144 table {
    border-collapse: collapse;
}
.msg9217043639445657144 body, .msg9217043639445657144 #m_9217043639445657144bodyTable, .msg9217043639445657144 #m_9217043639445657144bodyCell {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
.msg9217043639445657144 #m_9217043639445657144templateHeader {
    background-color: #f1f5f8;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top: 0;
    border-bottom: 0;
    padding-top: 0px;
    padding-bottom: 0;
}
@media only screen and (min-width: 768px){
 .msg9217043639445657144 .m_9217043639445657144templateContainer {
    width: 600px!important;
}
}
.msg9217043639445657144 .m_9217043639445657144templateContainer {
    max-width: 600px!important;
}
.msg9217043639445657144 .m_9217043639445657144headerContainer {
    background-color: #transparent;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top: 0;
    border-bottom: 0;
    padding-top: 0px;
    padding-bottom: 20px;
}
.msg9217043639445657144 #m_9217043639445657144templateBody {
    background-color: #f1f5f8;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top: 0;
    border-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.msg9217043639445657144 .m_9217043639445657144bodyContainer {
    background-color: #ffffff;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top: 0;
    border-bottom: 0;
    padding-top: 0;
    padding-bottom: 20px;
}
.msg9217043639445657144 #m_9217043639445657144templateFooter {
    background-color: #f1f5f8;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top: 0;
    border-bottom: 0;
    padding-top: 0;
    padding-bottom: 10px;
}
@media only screen and (min-width: 768px){
    .msg9217043639445657144 .m_9217043639445657144templateContainer {
    width: 600px!important;
}
}
.msg9217043639445657144 .m_9217043639445657144templateContainer {
    max-width: 600px!important;
}
.msg9217043639445657144 .m_9217043639445657144footerContainer {
    background-color: #c2b1d2;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top: 0;
    border-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
  </style>
</head>
<body style="margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;">
<div id=":31f" class="ii gt" jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTc5MDI2ODUyODM5NzMwMDgxMSJd; 4:WyIjbXNnLWY6MTc5MDI2ODUyODM5NzMwMDgxMSJd">
    <div id=":38y" class="a3s aiL msg9217043639445657144">
        <u></u>

        <div>
            <center>
                <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="m_9217043639445657144bodyTable">
                    <tbody>
                        <tr>
                            <td align="center" valign="top" id="m_9217043639445657144bodyCell">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="center" valign="top" id="m_9217043639445657144templateHeader">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="m_9217043639445657144templateContainer">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" class="m_9217043639445657144headerContainer"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="top" id="m_9217043639445657144templateBody">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="m_9217043639445657144templateContainer">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" class="m_9217043639445657144bodyContainer">
                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;background: #c2b1d2;">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td valign="top" style="padding: 9px;">
                                                                                <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width: 100%;">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td valign="top" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0; text-align: center;">
                                                                                                <a
                                                                                                    href="https://safespaceyoga.rw/"
                                                                                                    title=""
                                                                                                    target="_blank"
                                                                                                    data-saferedirecturl="https://safespaceyoga.rw/"
                                                                                                >
                                                                                                    <img
                                                                                                        align="center"
                                                                                                        alt=""
                                                                                                        src="cid:logo.png"
                                                                                                        width="200px"
                                                                                                        style="max-width: 1200px; padding-bottom: 0; display: inline !important; vertical-align: bottom;"
                                                                                                        class="m_9217043639445657144mcnImage CToWUd"
                                                                                                        data-bit="iit"
                                                                                                    />
                                                                                                </a>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td valign="top" style="padding-top: 9px;">
                                                                                <table
                                                                                    align="left"
                                                                                    border="0"
                                                                                    cellpadding="0"
                                                                                    cellspacing="0"
                                                                                    style="max-width: 100%; min-width: 100%;"
                                                                                    width="100%"
                                                                                    class="m_9217043639445657144mcnTextContentContainer"
                                                                                >
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td valign="top" class="m_9217043639445657144mcnTextContent" style="padding-top: 0; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">
                                                                                                <p style="text-align: center;">
                                                                                                    <strong><u>BOOKING CONFIRMATION</u></strong>
                                                                                                </p>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td valign="top" style="padding-top: 9px;">
                                                                                <table
                                                                                    align="left"
                                                                                    border="0"
                                                                                    cellpadding="0"
                                                                                    cellspacing="0"
                                                                                    style="max-width: 100%; min-width: 100%;"
                                                                                    width="100%"
                                                                                    class="m_9217043639445657144mcnTextContentContainer"
                                                                                >
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td valign="top" class="m_9217043639445657144mcnTextContent" style="padding-top: 0; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">
                                                                                                <p>
                                                                                                    Dear {{name}}&nbsp;,<br />
                                                                                                    <br />
                                                                                                    Thank you for booking a session at Safe Space Yoga studio.<br />
                                                                                                    <br />
                                                                                                    This is&nbsp;a confirmation email&nbsp;to let you know that your booking was&nbsp;successful.&nbsp;Your session details:<br />
                                                                                                    <br />
                                                                                                    <strong>
                                                                                                        <b>Booking Date</b>: <b>{{ booking_date }}</b><br />
                                                                                                        <b>Booking Slot time</b>: <b>{{ booking_slot_time }}</b><br />
                                                                                                        <b>Session ref code</b>: <b>{{ session_ref }}</b><br />
                                                                                                        <b>Session cost</b>: <b>{{ session_amount }} RWF</b><br />
                                                                                                        <b>Payment ref code</b>: <b>{{ confirmation_code }}</b><br />
                                                                                                    </strong>
                                                                                                    <br />
                                                                                                    <br />
                                                                                                    Please do not reply to this email, as this mailbox is unmonitored.<br />
                                                                                                    <br />
                                                                                                    <span style="font-family: roboto, helvetica neue, helvetica, arial, sans-serif;">
                                                                                                        <span style="font-size: 12px;">
                                                                                                            Kind Regards,<br />
                                                                                                            <strong>SAFE SPACE YOGA STUDIO</strong>
                                                                                                        </span>
                                                                                                    </span>
                                                                                                </p>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td align="center" valign="top" id="m_9217043639445657144templateFooter">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="m_9217043639445657144templateContainer">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" class="m_9217043639445657144footerContainer">
                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td valign="top" style="padding-top: 9px;">
                                                                                <table
                                                                                    align="left"
                                                                                    border="0"
                                                                                    cellpadding="0"
                                                                                    cellspacing="0"
                                                                                    style="max-width: 100%; min-width: 100%;"
                                                                                    width="100%"
                                                                                    class="m_9217043639445657144mcnTextContentContainer"
                                                                                >
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td valign="top" class="m_9217043639445657144mcnTextContent" style="padding: 0px 18px 9px; color: #002e63; font-size: 14px;">
                                                                                                <div style="text-align: center;">
                                                                                                    <span style="color: #ffffff;">
                                                                                                        <span style="font-family: roboto, helvetica neue, helvetica, arial, sans-serif;">
                                                                                                            <span style="font-size: 12px;">
                                                                                                                <strong>SAFE SPACE YOGA STUDIO</strong><br />
                                                                                                                KN 52 number 28 Kiyovu<br />
                                                                                                                Kigali Wellness Hub- Kacyiru, Mercy house 97 KG 5 AVE
                                                                                                            </span>
                                                                                                        </span>
                                                                                                    </span>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td align="center" valign="top" style="padding: 9px;">
                                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td align="center" style="padding-left: 9px; padding-right: 9px;">
                                                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td align="center" valign="top" style="padding-top: 9px; padding-right: 9px; padding-left: 9px;">
                                                                                                                <table align="center" border="0" cellpadding="0" cellspacing="0">
                                                                                                                    <tbody>
                                                                                                                        <tr>
                                                                                                                            <td align="center" valign="top">
                                                                                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="display: inline;">
                                                                                                                                    <tbody>
                                                                                                                                        <tr>
                                                                                                                                            <td valign="top" style="padding-right: 0; padding-bottom: 9px;">
                                                                                                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                                                                                    <tbody>
                                                                                                                                                        <tr>
                                                                                                                                                            <td
                                                                                                                                                                align="left"
                                                                                                                                                                valign="middle"
                                                                                                                                                                style="
                                                                                                                                                                    padding-top: 5px;
                                                                                                                                                                    padding-right: 10px;
                                                                                                                                                                    padding-bottom: 5px;
                                                                                                                                                                    padding-left: 9px;
                                                                                                                                                                "
                                                                                                                                                            >
                                                                                                                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="">
                                                                                                                                                                    <tbody>
                                                                                                                                                                        <tr>
                                                                                                                                                                            <td align="center" valign="middle" width="24">
                                                                                                                                                                                <a
                                                                                                                                                                                    href="https://instagram.com/safe_space_yoga?igshid=MzMyNGUyNmU2YQ%3D%3D&utm_source=qr"
                                                                                                                                                                                    target="_blank"
                                                                                                                                                                                    data-saferedirecturl="https://instagram.com/safe_space_yoga?igshid=MzMyNGUyNmU2YQ%3D%3D&utm_source=qr"
                                                                                                                                                                                >
                                                                                                                                                                                    <img
                                                                                                                                                                                        src="https://ci3.googleusercontent.com/meips/ADKq_NbbaDlrn54BGUHwVn5feZD8BHhT_tDX8iVszDnbmoM_MHciI40SmWExS3HMrx99wKVtg1HIEOx3OnRrVZyuC1PJTVGh56uu8P2qvDgboANXJKldv5XyKQYp-lhmieOOVh-vU39KZ6uw-Pw4=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/outline-light-instagram-48.png"
                                                                                                                                                                                        alt="Instagram"
                                                                                                                                                                                        style="display: block;"
                                                                                                                                                                                        height="24"
                                                                                                                                                                                        width="24"
                                                                                                                                                                                        class="CToWUd"
                                                                                                                                                                                        data-bit="iit"
                                                                                                                                                                                    />
                                                                                                                                                                                </a>
                                                                                                                                                                            </td>
                                                                                                                                                                        </tr>
                                                                                                                                                                    </tbody>
                                                                                                                                                                </table>
                                                                                                                                                            </td>
                                                                                                                                                        </tr>
                                                                                                                                                    </tbody>
                                                                                                                                                </table>
                                                                                                                                            </td>
                                                                                                                                        </tr>
                                                                                                                                    </tbody>
                                                                                                                                </table>
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </center>
            <img
                src="https://ci3.googleusercontent.com/meips/ADKq_NaXJq85R0P05a3nXxvnmGYEKiopVnG_13_J-3TuZ3FF3x3-1eTtFy1HXIxcslcAETIF1nuivzubX5PqxZ5v_74BOlMPYdckWfM80etelrY6YPefeCJ4eaPzSHBhUUmS9XUwRT85JA0bLN8c=s0-d-e1-ft#https://mandrillapp.com/track/open.php?u=30875149&amp;id=edfc8458af454eb19f4b85ec587e6db9"
                height="1"
                width="1"
                alt=""
                class="CToWUd"
                data-bit="iit"
            />
        </div>

        <div class="yj6qo"></div>
        <div class="adL"></div>
    </div>
</div>

</body>
</html>